/*
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap-4";
@import "font-awesome";
@import "line-icons";
@import "owl.carousel";
@import "owl.theme";
@import "nivo-lightbox";
@import "magnific-popup";
@import "slicknav";
@import "animate";

@import "main";
@import "responsive";

.user-info {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
  }
  .name {
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .logout-link {
    color: #666;
  }
}

.user-home-wrap {
  margin-top: 60px;
}

.menu-wrap {
  background: #f5f5f5;
  width: 100%;
//  height: calc(100% - 80px);
//  min-height: 100%;
  padding-top: 20px;
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    color: #666;
    .menu-item {
      a {
        display: block;
        width: 100%;
        color: #333;
        padding: 10px 15px;
        text-decoration: none;
        &:hover,&:focus {
          color: rgb(231,90,22);
          border-left: 1px solid rgb(231,90,22);
          background: white;
        }
      }
      &.active {
        border-left: 1px solid rgb(231,90,22);
        background: white;
        a {
          color: rgb(231,90,22);
        }
        
        &:hover,&:focus {
          border-left: 0;
        }
      }
    }
  }
}
