<!-- <span>&copy; <%= Time.now.year %> - <%= SiteConfig.app_name %></span> -->

<!-- Footer Section Start -->
<footer class="footer">          
  <div class="copyright">
    <p><%= Time.now.year %> &copy; 合能集团 版权所有&emsp;蜀ICP备12012260号</p>
  </div>
</footer>
<!-- Footer Section End --> 