    <!-- Header Section Start -->
    <header id="hero-area">    
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= image_tag 'logo-60.png', class:'img-fulid', alt: '' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lnr lnr-menu"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#hero-area">首页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">合能集团</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">招标计划</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">招标公告</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#cases">合作伙伴</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="#partners">服务客户</a>
              </li> -->
              
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">联系我们</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
           <li>
              <a class="page-scroll" href="#hero-area">首页</a>
            </li>
            <li>
              <a class="page-scroll" href="#about">合能集团</a>
            </li>
            <li>
              <a class="page-scroll" href="#services">招标计划</a>
            </li>
            <li>
              <a class="page-scroll" href="#services">招标公告</a>
            </li>
            <li>
              <a class="page-scroll" href="#cases">合作伙伴</a>
            </li>
            <!-- <li>
              <a class="page-scroll" href="#partners">服务客户</a>
            </li> -->
            
            <li>
              <a class="page-scroll" href="#contact">联系我们</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

      </nav>
      <!-- Navbar End -->
      <%= yield :subnav_content %>
      
    </header>
    <!-- Header Section End --> 